Repository microsoft/WindowsAppSDK, pull requests merged in 2022-08, with the labels that each got.

#2801 AppNotificationBuilder - Code Improvements
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilderUtility.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationButton.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationButton.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationTextProperties.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationTextProperties.h
  test/AppNotificationBuilderTests/APITests.cpp
Labels: needs-triage :mag:, area-Notifications

#2810 CsWinRT Update to 1.6.5
  eng/Version.Details.xml
  eng/Versions.props
Labels: needs-triage :mag:

#2760 AppNotificationContent Builder Core Features - part II
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.idl
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.vcxitems
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilderUtility.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationComboBox.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationComboBox.h
  test/AppNotificationBuilderTests/APITests.cpp
  test/DynamicDependency/data/Microsoft.WindowsAppRuntime.Framework/appxmanifest.xml
Labels: needs-triage :mag:, area-Notifications

#2780 AppNotificationBuilder - ProgressBar
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.idl
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.vcxitems
  dev/AppNotifications/AppNotificationBuilder/AppNotificationProgressBar.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationProgressBar.h
  test/AppNotificationBuilderTests/APITests.cpp
  test/DynamicDependency/data/Microsoft.WindowsAppRuntime.Framework/appxmanifest.xml
Labels: needs-triage :mag:, area-Notifications

#2815 Fix build break in user/purifoypaul/TimestampFix
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.idl
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.vcxitems
  dev/AppNotifications/AppNotificationBuilder/AppNotificationProgressBar.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationProgressBar.h
  test/AppNotificationBuilderTests/APITests.cpp
  test/DynamicDependency/data/Microsoft.WindowsAppRuntime.Framework/appxmanifest.xml
Labels: needs-triage :mag:, area-Notifications

#2802 User/sachinta/fix deployment manager telemetry
  dev/Deployment/DeploymentManager.cpp
  dev/Deployment/DeploymentTraceLogging.h
Labels: bug, area-App deployment

#2805 Encoding/Decoding AppNotificationBuilder arguments
  dev/AppNotifications/AppNotificationActivatedEventArgs.cpp
  dev/AppNotifications/AppNotificationActivatedEventArgs.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilderUtility.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationButton.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationComboBox.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationProgressBar.cpp
  dev/AppNotifications/AppNotifications.idl
  dev/AppNotifications/AppNotifications.vcxitems
  test/AppNotificationBuilderTests/APITests.cpp
  test/AppNotificationBuilderTests/AppNotificationBuilderTests.vcxproj
  test/AppNotificationBuilderTests/AppNotificationBuilderTests.vcxproj.filters
  test/AppNotificationBuilderTests/pch.h
  test/TestApps/ToastNotificationsDemoApp/ToastNotificationsDemoApp.vcxproj
  test/TestApps/ToastNotificationsDemoApp/main.cpp
  test/TestApps/ToastNotificationsDemoApp/pch.h
Labels: needs-triage :mag:, area-Notifications

#2800 AppNotificationBuilder - RI Feature Branch into develop
  WindowsAppRuntime.sln
  dev/AppNotifications/AppNotificationActivatedEventArgs.cpp
  dev/AppNotifications/AppNotificationActivatedEventArgs.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.idl
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.vcxitems
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilderUtility.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationButton.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationButton.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationComboBox.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationComboBox.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationProgressBar.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationProgressBar.h
  dev/AppNotifications/AppNotificationBuilder/AppNotificationTextProperties.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationTextProperties.h
  dev/AppNotifications/AppNotifications.idl
  dev/AppNotifications/AppNotifications.vcxitems
  dev/WindowsAppRuntime_DLL/WindowsAppRuntime_DLL.vcxproj
  specs/AppNotifications/AppNotificationContentSpec/AppLogoOverrideImageExample.png
  specs/AppNotifications/AppNotificationContentSpec/AppNotificationBuilder-spec.md
  specs/AppNotifications/AppNotificationContentSpec/AppNotificationExample.png
  specs/AppNotifications/AppNotificationContentSpec/AppNotificationTextExample.png
  specs/AppNotifications/AppNotificationContentSpec/AppNotificationWithAvatarImage.png
  specs/AppNotifications/AppNotificationContentSpec/ButtonContextMenuExample.png
  specs/AppNotifications/AppNotificationContentSpec/ButtonExample.png
  specs/AppNotifications/AppNotificationContentSpec/ButtonSuccessExample.png
  specs/AppNotifications/AppNotificationContentSpec/ButtonToolTipExample.png
  specs/AppNotifications/AppNotificationContentSpec/ComboBoxExample.png
  specs/AppNotifications/AppNotificationContentSpec/CroppedAppLogoOverrideExample.png
  specs/AppNotifications/AppNotificationContentSpec/HeroImageExample.png
  specs/AppNotifications/AppNotificationContentSpec/IncomingCallExample.png
  specs/AppNotifications/AppNotificationContentSpec/IncomingCallSimpleExample.png
  specs/AppNotifications/AppNotificationContentSpec/InlineImageExample.png
  specs/AppNotifications/AppNotificationContentSpec/ProgressBarExample1.png
  specs/AppNotifications/AppNotificationContentSpec/ProgressBarExample2.png
  specs/AppNotifications/AppNotificationContentSpec/TextBoxExample.png
  specs/AppNotifications/AppNotificationContentSpec/TextExample.png
  test/AppNotificationBuilderTests/APITests.cpp
  test/AppNotificationBuilderTests/AppNotificationBuilderTests.cpp
  test/AppNotificationBuilderTests/AppNotificationBuilderTests.h
  test/AppNotificationBuilderTests/AppNotificationBuilderTests.vcxproj
  test/AppNotificationBuilderTests/AppNotificationBuilderTests.vcxproj.filters
  test/AppNotificationBuilderTests/packages.config
  test/AppNotificationBuilderTests/pch.cpp
  test/AppNotificationBuilderTests/pch.h
  test/DynamicDependency/data/Microsoft.WindowsAppRuntime.Framework/appxmanifest.xml
  test/TestApps/ToastNotificationsDemoApp/ToastNotificationsDemoApp.vcxproj
  test/TestApps/ToastNotificationsDemoApp/main.cpp
  test/TestApps/ToastNotificationsDemoApp/pch.h
Labels: needs-triage :mag:, area-Notifications

#2814 Fix issues with timestamp in AppNotificationBuilder
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilderUtility.h
  test/AppNotificationBuilderTests/APITests.cpp
  test/AppNotificationBuilderTests/pch.h
Labels: needs-triage :mag:, area-Notifications

#2813 AppNotificationBuilder - Addressing last few feature nits
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.cpp
  dev/AppNotifications/AppNotificationBuilder/AppNotificationProgressBar.cpp
  test/AppNotificationBuilderTests/APITests.cpp
  test/AppNotificationBuilderTests/AppNotificationBuilderTests.vcxproj
  test/AppNotificationBuilderTests/AppNotificationBuilderTests.vcxproj.filters
Labels: needs-triage :mag:, area-Notifications

#2819 User/sachinta/fix deployment manager telemetry (#2802)
  dev/Deployment/DeploymentManager.cpp
  dev/Deployment/DeploymentTraceLogging.h
Labels: area-App deployment

#2825 1.2-exp & 0.8.12 bug template updates
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: needs-triage :mag:

#2834 Publish New AppNotificationBuilder API
  WindowsAppRuntime.sln
  build/CopyFilesToStagingDir.ps1
  build/NuSpecs/AppxManifest.xml
  dev/AppNotifications/AppNotificationBuilder/AppNotificationBuilder.idl
  dev/Projections/CS/Microsoft.Windows.AppNotifications.Builder.Projection/Microsoft.Windows.AppNotifications.Builder.Projection.csproj
Labels: needs-triage :mag:, area-Notifications

#2775 Only default WindowsAppSdkBootstrapInitializer if OutputType=Exe|Winexe
  build/NuSpecs/Microsoft.WindowsAppSDK.BootstrapCommon.targets
Labels: bug, needs-triage :mag:, area-Infrastructure, area-DynamicDependencies, servicing-consider-1.1

#2851 Update bug template tag to 1.1.4
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: documentation

#2835 DeploymentManager auto-initializer
  WindowsAppRuntime.sln
  build/CopyFilesToStagingDir.ps1
  build/NuSpecs/Microsoft.WindowsAppSDK.DeploymentManager.CS.targets
  build/NuSpecs/Microsoft.WindowsAppSDK.DeploymentManagerCommon.targets
  build/NuSpecs/Microsoft.WindowsAppSDK.Foundation.targets
  build/NuSpecs/WindowsAppSDK-Nuget-Native.DeploymentManager.targets
  build/NuSpecs/WindowsAppSDK-Nuget-Native.targets
  dev/Common/AppModel.Identity.h
  dev/Common/Microsoft.Configuration.h
  dev/Deployment/Deployment.idl
  dev/Deployment/Deployment.vcxitems
  dev/Deployment/DeploymentInitializeOptions.cpp
  dev/Deployment/DeploymentInitializeOptions.h
  dev/Deployment/DeploymentManager.cpp
  dev/Deployment/DeploymentManager.h
  dev/Deployment/DeploymentManagerAutoInitializer.cpp
  dev/Deployment/DeploymentManagerAutoInitializer.cs
  dev/WindowsAppRuntime_DLL/pch.h
  test/Deployment/API/APITests.cpp
  test/Deployment/API/Deployment-Capabilities-AppxManifest.xml
  test/Deployment/API/Deployment-NoCapabilities-AppxManifest.xml
  test/Deployment/API/Deployment-RealNameFramework-AppxManifest.xml
  test/Deployment/API/DeploymentTests.vcxproj
  test/Deployment/API/DeploymentTests.vcxproj.filters
  test/Deployment/API/packages.config
  test/Deployment/API/pch.cpp
  test/Deployment/API/pch.h
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Default/README.txt
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Default/Test_DeploymentManagerAutoInitialize_CPP_Default.filters
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Default/Test_DeploymentManagerAutoInitialize_CPP_Default.vcxproj
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Default/packages.config
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Options_Default/README.txt
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Options_Default/Test_BootstrapAutoInitialize_CPP_Options_Default.filters
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Options_Default/Test_DeploymentManagerAutoInitialize_CPP_Options_Default.vcxproj
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Options_Default/packages.config
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Options_Defined/README.txt
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Options_Defined/Test_BootstrapAutoInitialize_CPP_Options_Defined.filters
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Options_Defined/Test_DeploymentManagerAutoInitialize_CPP_Options_Defined.vcxproj
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Options_Defined/packages.config
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Options_None/README.txt
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Options_None/Test_BootstrapAutoInitialize_CPP_Options_None.filters
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Options_None/Test_DeploymentManagerAutoInitialize_CPP_Options_None.vcxproj
  test/Deployment/Test_DeploymentManagerAutoInitialize/CPP/Test_DeploymentManagerAutoInitialize_CPP_Options_None/packages.config
  test/Deployment/Test_DeploymentManagerAutoInitialize/CS/Test_DeploymentManagerAutoInitialize_CS_Default/Main.cs
  test/Deployment/Test_DeploymentManagerAutoInitialize/CS/Test_DeploymentManagerAutoInitialize_CS_Default/Test_DeploymentManagerAutoInitialize_CS_Default.csproj
  test/Deployment/Test_DeploymentManagerAutoInitialize/CS/Test_DeploymentManagerAutoInitialize_CS_Options_Default/Main.cs
  test/Deployment/Test_DeploymentManagerAutoInitialize/CS/Test_DeploymentManagerAutoInitialize_CS_Options_Default/Test_DeploymentManagerAutoInitialize_CS_Options_Default.csproj
  test/Deployment/Test_DeploymentManagerAutoInitialize/CS/Test_DeploymentManagerAutoInitialize_CS_Options_Defined/Main.cs
  test/Deployment/Test_DeploymentManagerAutoInitialize/CS/Test_DeploymentManagerAutoInitialize_CS_Options_Defined/Test_DeploymentManagerAutoInitialize_CS_Options_Defined.csproj
  test/Deployment/Test_DeploymentManagerAutoInitialize/CS/Test_DeploymentManagerAutoInitialize_CS_Options_None/Main.cs
  test/Deployment/Test_DeploymentManagerAutoInitialize/CS/Test_DeploymentManagerAutoInitialize_CS_Options_None/Test_DeploymentManagerAutoInitialize_CS_Options_None.csproj
  test/Deployment/data/WindowsAppRuntime.Test.Framework/WindowsAppRuntime.Test.Framework.vcxproj
  tools/VerifyCopyrightHeaders.cmd
  tools/VerifyCopyrightHeaders.ps1
Labels: feature, needs-triage :mag:, area-App deployment

#2871 Update the versions of the VS SDK NuGet packages used to build the VSIXs
  dev/VSIX/Extension/Cpp/Dev16/WindowsAppSDK.Cpp.Extension.Dev16.csproj
  dev/VSIX/Extension/Cpp/Dev17/WindowsAppSDK.Cpp.Extension.Dev17.csproj
  dev/VSIX/Extension/Cs/Dev16/WindowsAppSDK.Cs.Extension.Dev16.csproj
  dev/VSIX/Extension/Cs/Dev17/WindowsAppSDK.Cs.Extension.Dev17.csproj
Labels: needs-triage :mag:

#2875 New DeploymentManager .targets missing in Transport package
  build/AzurePipelinesTemplates/WindowsAppSDK-CreateNugetPackage-Job.yml
Labels: needs-triage :mag:, area-App deployment

#2841 Don't install x64 framework package on Windows 10 ARM64 devices as it…
  dev/Common/IsWindowsVersion.h
  installer/dev/MachineTypeAttributes.h
  installer/dev/WindowsAppRuntimeInstall.vcxproj
  installer/dev/WindowsAppRuntimeInstall.vcxproj.filters
  installer/dev/install.cpp
  installer/dev/pch.h
Labels: bug, area-Installer

#2444 Refactoring app notification tests
  WindowsAppRuntime.sln
  test/AppNotificationTests/AppNotification-Test-Constants.h
  test/AppNotificationTests/AppNotificationTests.rc
  test/AppNotificationTests/AppNotificationTests.vcxproj
  test/AppNotificationTests/AppNotificationTests.vcxproj.filters
  test/AppNotificationTests/AppNotifications-AppxManifest.xml
  test/AppNotificationTests/AppNotifications.Test.h
  test/AppNotificationTests/BaseTestSuite.cpp
  test/AppNotificationTests/BaseTestSuite.h
  test/AppNotificationTests/PackagedTests.cpp
  test/AppNotificationTests/PackagedTests.h
  test/AppNotificationTests/UnpackagedTests.cpp
  test/AppNotificationTests/UnpackagedTests.h
  test/AppNotificationTests/icon1.ico
  test/AppNotificationTests/packages.config
  test/AppNotificationTests/pch.cpp
  test/AppNotificationTests/pch.h
  test/AppNotificationTests/resource.h
  test/PushNotificationTests/BaseTestSuite.cpp
Labels: needs-triage :mag:, area-Notifications

#2899 Dynamic Depedencies spec: Update w/previous feedback, typo corrections and apicontracts
  specs/dynamicdependencies/DynamicDependencies.md
Labels: needs-triage :mag:, area-DynamicDependencies

#2902 Updating VSIX BuildTools version
  dev/VSIX/Directory.Build.props
Labels: needs-triage :mag:

#2903 Updating BuildTools version
  dev/VSIX/Directory.Build.props
Labels: needs-triage :mag:

#2901 Fix Installer to work on ARM64 on Windows 10
  dev/Common/IsWindowsVersion.h
  installer/dev/MachineTypeAttributes.h
  installer/dev/install.cpp
  installer/dev/main.cpp
Labels: bug, area-Installer

#2897 Refactor Notification Telemetry to Remove Code Duplication
  dev/AppNotifications/AppNotificationTelemetry.h
  dev/Common/Common.vcxitems
  dev/Common/Common.vcxitems.filters
  dev/Common/NotificationTelemetryHelper.h
  dev/PushNotifications/PushNotificationTelemetry.h
Labels: needs-triage :mag:, area-Notifications

#2912 User/sachinta/fix installer for windows10 arm64 on release 1.1 stable
  dev/Common/IsWindowsVersion.h
  installer/dev/MachineTypeAttributes.h
  installer/dev/WindowsAppRuntimeInstall.vcxproj
  installer/dev/WindowsAppRuntimeInstall.vcxproj.filters
  installer/dev/install.cpp
  installer/dev/main.cpp
  installer/dev/pch.h
Labels: bug, area-Installer

#2920 Partially reenable the Integration test to only produce a WinAppSDK package
  build/ProjectReunion-BuildFoundation.yml
Labels: needs-triage :mag:

#2923 Script to build foundation transport package
  .gitignore
  BuildTransportPackage.cmd
  BuildTransportPackage.ps1
Labels: needs-triage :mag:

#2868 DisplayArea.GetFromDisplayId
  specs/Windowing/DisplayArea.md
Labels: needs-triage :mag:

#2853 New activated log events Push and App Notifications
  dev/AppNotifications/AppNotificationManager.cpp
  dev/AppNotifications/AppNotificationTelemetry.h
  dev/PushNotifications/PushNotificationManager.cpp
  dev/PushNotifications/PushNotificationManager.h
  dev/PushNotifications/PushNotificationTelemetry.h
  dev/PushNotifications/PushNotificationsLongRunningTask/NotificationListener.cpp
  dev/PushNotifications/PushNotificationsLongRunningTask/PushNotificationLongRunningTaskTelemetry.h
  dev/PushNotifications/PushNotificationsLongRunningTask/PushNotificationsLongRunningTask.vcxproj
  dev/PushNotifications/PushNotificationsLongRunningTask/PushNotificationsLongRunningTask.vcxproj.filters
Labels: needs-triage :mag:, area-Notifications
