Repository microsoft/WindowsAppSDK, pull requests merged in 2022-02, with the labels that each got.

#2007 ShowToast implementation + unit tests
  dev/ToastNotifications/NotificationProperties.cpp
  dev/ToastNotifications/NotificationProperties.h
  dev/ToastNotifications/NotificationTransientProperties.cpp
  dev/ToastNotifications/NotificationTransientProperties.h
  dev/ToastNotifications/ToastNotificationManager.cpp
  dev/ToastNotifications/ToastNotificationUtility.h
  dev/ToastNotifications/ToastNotifications.vcxitems
  test/TestApps/ToastNotificationsTestApp/main.cpp
  test/ToastNotificationTests/APITests.cpp
  test/ToastNotificationTests/ToastNotificationTests.vcxproj
  test/ToastNotificationTests/ToastNotificationTests.vcxproj.filters
Labels: needs-triage :mag:, area-Notifications

#2048 RI WNP_ToastNotification_L2 into WNP_ToastNotification_L1
  dev/ToastNotifications/ToastActivationCallback.h
  test/TestApps/PushNotificationsDemoApp/PushNotificationsDemoApp.vcxproj
  test/TestApps/PushNotificationsDemoApp/main.cpp
Labels: needs-triage :mag:, area-Notifications

#2050 Enable APIscan-friendly build options
  Directory.Build.props
  dev/MRTCore/mrt/Core/src/MRM.vcxproj
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/src/Microsoft.Windows.ApplicationModel.Resources.vcxproj
Labels: needs-triage :mag:, area-Infrastructure

#2052 RI WNP_ToastNotification_L2 into WNP_ToastNotification_L1
  dev/ToastNotifications/NotificationProperties.cpp
  dev/ToastNotifications/NotificationProperties.h
  dev/ToastNotifications/NotificationTransientProperties.cpp
  dev/ToastNotifications/NotificationTransientProperties.h
  dev/ToastNotifications/ToastNotificationManager.cpp
  dev/ToastNotifications/ToastNotificationUtility.h
  dev/ToastNotifications/ToastNotifications.vcxitems
  test/TestApps/ToastNotificationsTestApp/main.cpp
  test/ToastNotificationTests/APITests.cpp
  test/ToastNotificationTests/ToastNotificationTests.vcxproj
  test/ToastNotificationTests/ToastNotificationTests.vcxproj.filters
Labels: needs-triage :mag:, area-Notifications

#2066 DynamicDependencies: support elevation
  dev/AccessControl/Microsoft.Windows.Security.AccessControl.cpp
  dev/Common/AppModel.PackageGraph.h
  dev/DynamicDependency/API/DataStore.cpp
  dev/DynamicDependency/API/DataStore.h
  dev/DynamicDependency/API/MsixDynamicDependency.cpp
  dev/DynamicDependency/API/MsixDynamicDependency.h
  dev/DynamicDependency/API/pch.h
  dev/DynamicDependency/DynamicDependencyLifetimeManagerShadow/winmain.cpp
  dev/WindowsAppRuntime_BootstrapDLL/MddBootstrap.cpp
  dev/WindowsAppRuntime_DLL/pch.h
  test/DynamicDependency/Test_Win32/TestMddBootstrap.cpp
  test/DynamicDependency/Test_Win32/Test_GetCurrentPackageInfo.cpp
  test/DynamicDependency/Test_Win32/Test_LifetimeManagement.cpp
  test/DynamicDependency/Test_Win32/Test_Win32.h
  test/DynamicDependency/Test_WinRT/Test_WinRT.h
Labels: needs-triage :mag:, area-DynamicDependencies

#2070 Add button to allow publishing even if there are test failures
  build/ProjectReunion-BuildFoundation.yml
Labels: needs-triage :mag:

#2062 Enable ToastProgressData Updates
  dev/ToastNotifications/NotificationProperties.cpp
  dev/ToastNotifications/ToastNotificationManager.cpp
  dev/ToastNotifications/ToastNotificationManager.h
  dev/ToastNotifications/ToastNotifications.vcxitems
  dev/ToastNotifications/ToastProgressData.cpp
  dev/ToastNotifications/ToastProgressData.h
  dev/ToastNotifications/ToastProgressDataABI.cpp
  dev/ToastNotifications/ToastProgressDataABI.h
  test/Deployment/data/WindowsAppRuntime.Test.Framework/appxmanifest.xml
  test/DynamicDependency/data/Microsoft.WindowsAppRuntime.Framework/appxmanifest.xml
  test/TestApps/ToastNotificationsTestApp/main.cpp
  test/ToastNotificationTests/APITests.cpp
Labels: needs-triage :mag:, area-Notifications

#2077 Update to FrameworkUDK 1.1.0-CI-22541.1001.220207-1139.1
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/src/Microsoft.Windows.ApplicationModel.Resources.vcxproj
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/src/packages.config
  dev/PushNotifications/PushNotificationsLongRunningTask/PushNotificationsLongRunningTask.vcxproj
  dev/PushNotifications/PushNotificationsLongRunningTask/packages.config
  dev/WindowsAppRuntime_DLL/WindowsAppRuntime_DLL.vcxproj
  dev/WindowsAppRuntime_DLL/packages.config
Labels: needs-triage :mag:

#2084 Move CSWinRT to Toolset Dependencies in Version.Details.xml
  build/scripts/ConvertVersionDetailsToPackageConfig.ps1
  eng/Version.Details.xml
Labels: needs-triage :mag:

#2063 Rename all instances of Toast in Public API layer to AppNotifications
  WindowsAppRuntime.sln
  dev/AppNotifications/AppNotification.cpp
  dev/AppNotifications/AppNotification.h
  dev/AppNotifications/AppNotificationActivatedEventArgs.h
  dev/AppNotifications/AppNotificationActivationCallback.cpp
  dev/AppNotifications/AppNotificationActivationCallback.h
  dev/AppNotifications/AppNotificationActivationInfo.cpp
  dev/AppNotifications/AppNotificationActivationInfo.h
  dev/AppNotifications/AppNotificationManager.cpp
  dev/AppNotifications/AppNotificationManager.h
  dev/AppNotifications/AppNotificationProgressData.cpp
  dev/AppNotifications/AppNotificationProgressData.h
  dev/AppNotifications/AppNotificationUtility.cpp
  dev/AppNotifications/AppNotificationUtility.h
  dev/AppNotifications/AppNotifications.idl
  dev/AppNotifications/AppNotifications.vcxitems
  dev/AppNotifications/NotificationProgressData.cpp
  dev/AppNotifications/NotificationProgressData.h
  dev/AppNotifications/NotificationProperties.cpp
  dev/AppNotifications/NotificationProperties.h
  dev/AppNotifications/NotificationTransientProperties.cpp
  dev/AppNotifications/NotificationTransientProperties.h
  dev/PushNotifications/PushNotificationManager.cpp
  dev/ToastNotifications/ToastActivatedEventArgs.h
  dev/ToastNotifications/ToastActivationInfo.cpp
  dev/ToastNotifications/ToastActivationInfo.h
  dev/ToastNotifications/ToastAssets.cpp
  dev/ToastNotifications/ToastAssets.h
  dev/ToastNotifications/ToastNotification.cpp
  dev/ToastNotifications/ToastNotification.h
  dev/ToastNotifications/ToastNotificationHistory.cpp
  dev/ToastNotifications/ToastNotificationHistory.h
  dev/ToastNotifications/ToastNotificationManager.cpp
  dev/ToastNotifications/ToastNotificationManager.h
  dev/ToastNotifications/ToastNotificationUtility.h
  dev/ToastNotifications/ToastNotifications.idl
  dev/ToastNotifications/ToastNotifications.vcxitems
  dev/ToastNotifications/ToastProgressDataABI.cpp
  dev/WindowsAppRuntime_DLL/WindowsAppRuntime_DLL.vcxproj
  specs/ToastNotifications/ToastNotifications-spec.md
  test/Deployment/data/WindowsAppRuntime.Test.Framework/appxmanifest.xml
  test/DynamicDependency/data/Microsoft.WindowsAppRuntime.Framework/appxmanifest.xml
  test/TestApps/PushNotificationsDemoApp/PushNotificationsDemoApp.vcxproj
  test/TestApps/PushNotificationsDemoApp/main.cpp
  test/TestApps/PushNotificationsDemoApp/pch.h
  test/TestApps/ToastNotificationsTestApp/ToastNotificationsTestApp.vcxproj
  test/TestApps/ToastNotificationsTestApp/main.cpp
  test/TestApps/ToastNotificationsTestApp/pch.h
  test/ToastNotificationTests/APITests.cpp
  test/ToastNotificationTests/ToastNotificationTests.vcxproj
Labels: needs-triage :mag:, area-Notifications

#2079 Add ToastNotificationDemoApp to Demos
  WindowsAppRuntime.sln
  dev/AppLifecycle/AppInstance.cpp
  test/TestApps/PushNotificationsDemoApp/main.cpp
  test/TestApps/ToastNotificationsDemoApp/ToastNotificationsDemoApp.vcxproj
  test/TestApps/ToastNotificationsDemoApp/ToastNotificationsDemoApp.vcxproj.filters
  test/TestApps/ToastNotificationsDemoApp/main.cpp
  test/TestApps/ToastNotificationsDemoApp/packages.config
  test/TestApps/ToastNotificationsDemoApp/pch.cpp
  test/TestApps/ToastNotificationsDemoApp/pch.h
  test/TestApps/ToastNotificationsDemoAppPackage/Images/LockScreenLogo.scale-200.png
  test/TestApps/ToastNotificationsDemoAppPackage/Images/SplashScreen.scale-200.png
  test/TestApps/ToastNotificationsDemoAppPackage/Images/Square150x150Logo.scale-200.png
  test/TestApps/ToastNotificationsDemoAppPackage/Images/Square44x44Logo.scale-200.png
  test/TestApps/ToastNotificationsDemoAppPackage/Images/Square44x44Logo.targetsize-24_altform-unplated.png
  test/TestApps/ToastNotificationsDemoAppPackage/Images/StoreLogo.png
  test/TestApps/ToastNotificationsDemoAppPackage/Images/Wide310x150Logo.scale-200.png
  test/TestApps/ToastNotificationsDemoAppPackage/Package.appxmanifest
  test/TestApps/ToastNotificationsDemoAppPackage/ToastNotificationsDemoAppPackage.wapproj
Labels: needs-triage :mag:, area-Notifications

#2076 Adding a non-async PowerNotificiations::EffectivePowerMode method
  dev/PowerNotifications/PowerNotifications.h
  dev/PowerNotifications/PowerNotifications.idl
Labels: needs-triage :mag:

#2093 FI main into feature/WNP_ToastNotifications_L1
  WindowsAppRuntime.sln
  build/ProjectReunion-BuildFoundation.yml
  build/scripts/ConvertVersionDetailsToPackageConfig.ps1
  dev/AccessControl/Microsoft.Windows.Security.AccessControl.cpp
  dev/Common/AppModel.PackageGraph.h
  dev/DynamicDependency/API/DataStore.cpp
  dev/DynamicDependency/API/DataStore.h
  dev/DynamicDependency/API/MsixDynamicDependency.cpp
  dev/DynamicDependency/API/MsixDynamicDependency.h
  dev/DynamicDependency/API/pch.h
  dev/DynamicDependency/DynamicDependencyLifetimeManagerShadow/winmain.cpp
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/src/Microsoft.Windows.ApplicationModel.Resources.vcxproj
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/src/packages.config
  dev/PowerNotifications/PowerNotifications.h
  dev/PowerNotifications/PowerNotifications.idl
  dev/PushNotifications/PushNotificationsLongRunningTask/PushNotificationsLongRunningTask.vcxproj
  dev/PushNotifications/PushNotificationsLongRunningTask/packages.config
  dev/WindowsAppRuntime_BootstrapDLL/MddBootstrap.cpp
  dev/WindowsAppRuntime_DLL/WindowsAppRuntime_DLL.vcxproj
  dev/WindowsAppRuntime_DLL/packages.config
  dev/WindowsAppRuntime_DLL/pch.h
  eng/Version.Details.xml
  eng/common/AzurePipelinesTemplates/WindowsAppSDK-Build-Steps.yml
  eng/common/Scripts/ConvertVersionDetailsToPackageConfig.ps1
  global.json
  test/DynamicDependency/Test_Win32/TestMddBootstrap.cpp
  test/DynamicDependency/Test_Win32/Test_GetCurrentPackageInfo.cpp
  test/DynamicDependency/Test_Win32/Test_LifetimeManagement.cpp
  test/DynamicDependency/Test_Win32/Test_Win32.h
  test/DynamicDependency/Test_WinRT/Test_WinRT.h
Labels: needs-triage :mag:

#2060 RS5 Fixes
  WindowsAppRuntime.sln
  dev/AppLifecycle/ActivationRegistrationManager.h
  dev/AppLifecycle/AppInstance.cpp
  dev/AppLifecycle/ExtensionContract.h
  dev/PushNotifications/GetNotificationEventArgs.h
  dev/PushNotifications/PushBackgroundTaskInstance.h
  dev/PushNotifications/PushNotificationBackgroundTask.cpp
  dev/PushNotifications/PushNotificationChannel.cpp
  dev/PushNotifications/PushNotificationChannel.h
  dev/PushNotifications/PushNotificationManager.cpp
  dev/PushNotifications/PushNotificationManager.h
  dev/PushNotifications/PushNotificationTelemetry.h
  dev/PushNotifications/PushNotificationUtility.h
  dev/PushNotifications/PushNotifications.idl
  dev/PushNotifications/PushNotifications.vcxitems
  dev/PushNotifications/PushNotificationsLongRunningTask.ProxyStub/NotificationsLongRunningProcess.idl
  dev/PushNotifications/PushNotificationsLongRunningTask/NotificationListener.cpp
  dev/PushNotifications/PushNotificationsLongRunningTask/NotificationListener.h
  dev/PushNotifications/PushNotificationsLongRunningTask/NotificationListenerManager.cpp
  dev/PushNotifications/PushNotificationsLongRunningTask/NotificationListenerManager.h
  dev/PushNotifications/PushNotificationsLongRunningTask/packages.config
  dev/PushNotifications/PushNotificationsLongRunningTask/pch.h
  dev/PushNotifications/PushNotificationsLongRunningTask/platform.cpp
  dev/PushNotifications/PushNotificationsLongRunningTask/platform.h
  dev/PushNotifications/externs.h
  test/TestApps/PushNotificationsDemoApp/PushNotificationsDemoApp.vcxproj
  test/TestApps/PushNotificationsDemoApp/main.cpp
  test/TestApps/PushNotificationsDemoPackage/Package.appxmanifest
  test/TestApps/PushNotificationsTestApp/main.cpp
  test/TestApps/ToastNotificationsDemoApp/main.cpp
  test/TestApps/ToastNotificationsDemoApp/packages.config
  test/TestApps/ToastNotificationsDemoPackage/Images/LockScreenLogo.scale-200.png
  test/TestApps/ToastNotificationsDemoPackage/Images/SplashScreen.scale-200.png
  test/TestApps/ToastNotificationsDemoPackage/Images/Square150x150Logo.scale-200.png
  test/TestApps/ToastNotificationsDemoPackage/Images/Square44x44Logo.scale-200.png
  test/TestApps/ToastNotificationsDemoPackage/Images/Square44x44Logo.targetsize-24_altform-unplated.png
  test/TestApps/ToastNotificationsDemoPackage/Images/StoreLogo.png
  test/TestApps/ToastNotificationsDemoPackage/Images/Wide310x150Logo.scale-200.png
  test/TestApps/ToastNotificationsDemoPackage/Package.appxmanifest
  test/TestApps/ToastNotificationsDemoPackage/ToastNotificationsDemoPackage.wapproj
  test/TestApps/ToastNotificationsTestApp/main.cpp
  test/TestApps/ToastNotificationsTestAppPackage/Package.appxmanifest
Labels: needs-triage :mag:, area-Notifications

#2068 Add GetAllAsync and Remove*Async for Toast Notifications
  dev/AppNotifications/AppNotificationManager.cpp
  dev/AppNotifications/AppNotificationManager.h
  dev/AppNotifications/AppNotificationUtility.cpp
  dev/AppNotifications/AppNotificationUtility.h
  dev/AppNotifications/NotificationTransientProperties.cpp
  test/TestApps/ToastNotificationsTestApp/main.cpp
  test/ToastNotificationTests/APITests.cpp
Labels: needs-triage :mag:, area-Notifications

#2106 Adress Public API review comments
  dev/AppNotifications/AppNotification.cpp
  dev/AppNotifications/AppNotification.h
  dev/AppNotifications/AppNotificationActivationCallback.cpp
  dev/AppNotifications/AppNotificationManager.cpp
  dev/AppNotifications/AppNotificationManager.h
  dev/AppNotifications/AppNotificationProgressData.cpp
  dev/AppNotifications/AppNotificationUtility.cpp
  dev/AppNotifications/AppNotificationUtility.h
  dev/AppNotifications/AppNotifications.idl
  dev/AppNotifications/NotificationProperties.cpp
  test/TestApps/ToastNotificationsDemoApp/main.cpp
  test/TestApps/ToastNotificationsTestApp/main.cpp
  test/ToastNotificationTests/APITests.cpp
Labels: needs-triage :mag:, area-Notifications

#2112 Fix solution file
  WindowsAppRuntime.sln
Labels: needs-triage :mag:, area-Notifications

#2119 Refactor AppNotificationManager and add firstNotificationReceived
  dev/AppLifecycle/ExtensionContract.h
  dev/AppNotifications/AppNotificationActivationCallback.cpp
  dev/AppNotifications/AppNotificationActivationCallback.h
  dev/AppNotifications/AppNotificationManager.cpp
  dev/AppNotifications/AppNotificationManager.h
  dev/AppNotifications/AppNotifications.vcxitems
  dev/PushNotifications/GetNotificationEventArgs.h
  dev/PushNotifications/externs.h
  test/PushNotificationTests/APITests.cpp
  test/TestApps/ToastNotificationsDemoApp/main.cpp
Labels: needs-triage :mag:, area-Notifications

#2123 FI main into feature branch WNP_ToastNotifications_L1
  WindowsAppRuntime.sln
  eng/Version.Details.xml
  eng/Versions.props
Labels: needs-triage :mag:

#2116 Adding CS Projections to Toast Notifications
  WindowsAppRuntime.sln
  build/CopyFilesToStagingDir.ps1
  dev/Projections/CS/Microsoft.Windows.AppNotifications.Projection/Microsoft.Windows.AppNotifications.Projection.csproj
Labels: needs-triage :mag:, area-Notifications

#2094 Retrieve Push/Toast Activator from registry
  WindowsAppRuntime.sln
  dev/AppNotifications/AppNotificationActivationInfo.cpp
  dev/AppNotifications/AppNotificationActivationInfo.h
  dev/AppNotifications/AppNotificationManager.cpp
  dev/AppNotifications/AppNotificationManager.h
  dev/AppNotifications/AppNotificationUtility.cpp
  dev/AppNotifications/AppNotificationUtility.h
  dev/AppNotifications/AppNotifications.idl
  dev/AppNotifications/AppNotifications.vcxitems
  dev/PushNotifications/PushNotificationUtility.h
  test/PushNotificationTests/APITests.cpp
  test/TestApps/PushNotificationsDemoApp/main.cpp
  test/TestApps/PushNotificationsDemoPackage/Package.appxmanifest
  test/TestApps/PushNotificationsTestApp/main.cpp
  test/TestApps/ToastNotificationsDemoApp/main.cpp
  test/TestApps/ToastNotificationsTestApp/main.cpp
  test/TestApps/ToastNotificationsTestAppPackage/Package.appxmanifest
  test/ToastNotificationTests/APITests.cpp
Labels: needs-triage :mag:, area-Notifications

#2129 Set icon before running the unpackaged-scenario tests
  test/TestApps/ToastNotificationsTestApp/main.cpp
Labels: needs-triage :mag:, area-Notifications

#2103 Update AppLifecycle StateNotifications.md
  specs/AppLifecycle/StateNotifications/AppLifecycle StateNotifications.md
Labels: needs-triage :mag:

#2128 Modify the CoRegister for Com Activation so if there are not notification handlers registered a new process will be launched every time
  dev/AppNotifications/AppNotificationManager.cpp
Labels: needs-triage :mag:, area-Notifications

#2141 Update to FrameworkUDK 1.1.0-CI-22541.1002.220217-1401.0
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/src/Microsoft.Windows.ApplicationModel.Resources.vcxproj
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/src/packages.config
  dev/PushNotifications/PushNotificationsLongRunningTask/PushNotificationsLongRunningTask.vcxproj
  dev/PushNotifications/PushNotificationsLongRunningTask/packages.config
  dev/WindowsAppRuntime_DLL/WindowsAppRuntime_DLL.vcxproj
  dev/WindowsAppRuntime_DLL/packages.config
Labels: needs-triage :mag:

#2104 Update MSIX package names' spec
  specs/Deployment/MSIXPackageVersioning.md
  specs/Deployment/MSIXPackages.md
Labels: needs-triage :mag:, area-Infrastructure

#2040 Remove 19h1 and add 21H1 to Helix test queue
  build/AzurePipelinesTemplates/WindowsAppSDK-RunHelixTests-Job.yml
Labels: needs-triage :mag:

#2126 Add global:: to MddBootstrapAutoInitializer to support <ImplicitUsings>enable</ImplicitUsings>
  dev/WindowsAppRuntime_BootstrapDLL/MddBootstrapAutoInitializer.cs
Labels: needs-triage :mag:, area-DynamicDependencies

#2144 FI main into feature branch WNP_ToastNotifications_L1
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/src/Microsoft.Windows.ApplicationModel.Resources.vcxproj
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/src/packages.config
  dev/PushNotifications/PushNotificationsLongRunningTask/PushNotificationsLongRunningTask.vcxproj
  dev/PushNotifications/PushNotificationsLongRunningTask/packages.config
  dev/WindowsAppRuntime_DLL/WindowsAppRuntime_DLL.vcxproj
  dev/WindowsAppRuntime_DLL/packages.config
  specs/AppLifecycle/StateNotifications/AppLifecycle StateNotifications.md
  specs/Deployment/MSIXPackageVersioning.md
  specs/Deployment/MSIXPackages.md
Labels: needs-triage :mag:

#2147 Fix AppNotification activation when no foreground handlers defined
  dev/AppNotifications/AppNotificationManager.cpp
  test/TestApps/ToastNotificationsDemoApp/main.cpp
  test/TestApps/ToastNotificationsDemoAppPackage/Package.appxmanifest
Labels: needs-triage :mag:, area-Notifications

#2148 Modify constructor for AppNotificationProgressData per API review
  dev/AppNotifications/AppNotification.h
  dev/AppNotifications/AppNotificationProgressData.cpp
  dev/AppNotifications/AppNotificationProgressData.h
  dev/AppNotifications/AppNotificationUtility.cpp
  dev/AppNotifications/AppNotifications.idl
  dev/AppNotifications/NotificationProgressData.cpp
  dev/AppNotifications/NotificationProperties.cpp
  dev/AppNotifications/NotificationProperties.h
  test/TestApps/ToastNotificationsTestApp/main.cpp
Labels: needs-triage :mag:, area-Notifications

#2152 Implement Unregister APIs for PushNotificationManager
  dev/PushNotifications/PushNotificationManager.cpp
  dev/PushNotifications/PushNotificationManager.h
Labels: needs-triage :mag:, area-Notifications

#2177 Add unittests for push
  dev/PushNotifications/PushNotificationManager.cpp
  test/PushNotificationTests/APITests.cpp
  test/TestApps/PushNotificationsTestApp/main.cpp
Labels: needs-triage :mag:

#2149 Publish all BuildOutput as a pipeline artifact, to enable running additional tests in the future.
  build/AzurePipelinesTemplates/WindowsAppSDK-RunHelixTests-Job.yml
  build/ProjectReunion-CI.yml
  build/build-mrt.yml
Labels: needs-triage :mag:

#2180 Remove helpers
  dev/PushNotifications/PushNotificationManager.cpp
  dev/PushNotifications/PushNotificationManager.h
Labels: needs-triage :mag:

#2179 Revamp Unregister/UnregisterAll in PushNotificationManager
  dev/PushNotifications/PushNotificationManager.cpp
  dev/PushNotifications/PushNotificationManager.h
Labels: needs-triage :mag:, area-Notifications

#2182 Change EventArgs to Argument
  dev/AppNotifications/AppNotificationActivatedEventArgs.h
  dev/AppNotifications/AppNotifications.idl
  test/TestApps/ToastNotificationsDemoApp/main.cpp
Labels: needs-triage :mag:, area-Notifications

#2122 Refactor PushNotificationManager to hold event handlers
  dev/PushNotifications/PushNotificationActivationInfo.cpp
  dev/PushNotifications/PushNotificationActivationInfo.h
  dev/PushNotifications/PushNotificationChannel.cpp
  dev/PushNotifications/PushNotificationChannel.h
  dev/PushNotifications/PushNotificationManager.cpp
  dev/PushNotifications/PushNotificationManager.h
  dev/PushNotifications/PushNotificationTelemetry.h
  dev/PushNotifications/PushNotifications.idl
  dev/PushNotifications/PushNotifications.vcxitems
  dev/PushNotifications/PushNotificationsLongRunningTask.ProxyStub/NotificationsLongRunningProcess.idl
  dev/PushNotifications/PushNotificationsLongRunningTask/platform.cpp
  dev/PushNotifications/PushNotificationsLongRunningTask/platform.h
  dev/PushNotifications/externs.h
  test/PushNotificationTests/APITests.cpp
  test/TestApps/PushNotificationsDemoApp/main.cpp
  test/TestApps/PushNotificationsTestApp/main.cpp
  test/TestApps/ToastNotificationsDemoApp/main.cpp
Labels: needs-triage :mag:, area-Notifications
