Repository microsoft/WindowsAppSDK, pull requests merged in 2022-05, with the labels that each got.

#2397 Rename CsWinRT Dependency Variable for Windows SDK
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/projection/Microsoft.Windows.ApplicationModel.Resources.Projection.csproj
  dev/Projections/CS/Microsoft.Windows.AppLifecycle/Microsoft.Windows.AppLifecycle.Projection.csproj
  dev/Projections/CS/Microsoft.Windows.AppNotifications.Projection/Microsoft.Windows.AppNotifications.Projection.csproj
  dev/Projections/CS/Microsoft.Windows.ApplicationModel.DynamicDependency/Microsoft.Windows.ApplicationModel.DynamicDependency.Projection.csproj
  dev/Projections/CS/Microsoft.Windows.ApplicationModel.WindowsAppRuntime/Microsoft.Windows.ApplicationModel.WindowsAppRuntime.Projection.csproj
  dev/Projections/CS/Microsoft.Windows.PushNotifications.Projection/Microsoft.Windows.PushNotifications.Projection.csproj
  dev/Projections/CS/Microsoft.Windows.System.Power/Microsoft.Windows.System.Power.Projection.csproj
  dev/Projections/CS/Microsoft.Windows.System/Microsoft.Windows.System.Projection.csproj
  eng/Version.Details.xml
  eng/Versions.props
Labels: needs-triage :mag:

#2455 Update WindowsAppSDK-RunHelixTests-Job.yml
  build/AzurePipelinesTemplates/WindowsAppSDK-RunHelixTests-Job.yml
Labels: needs-triage :mag:

#2452 UndockedRegFreeWinRT auto-initialization
  Directory.Build.props
  build/AzurePipelinesTemplates/WindowsAppSDK-BuildProject-Steps.yml
  build/AzurePipelinesTemplates/WindowsAppSDK-BuildSolution-Steps.yml
  build/AzurePipelinesTemplates/WindowsAppSDK-CreateNugetPackage-Job.yml
  build/CopyFilesToStagingDir.ps1
  build/NuSpecs/Microsoft.WindowsAppSDK.Foundation.targets
  build/NuSpecs/Microsoft.WindowsAppSDK.UndockedRegFreeWinRT.CS.targets
  build/NuSpecs/Microsoft.WindowsAppSDK.UndockedRegFreeWinRTCommon.targets
  build/NuSpecs/WindowsAppSDK-Nuget-Native.UndockedRegFreeWinRT.targets
  build/NuSpecs/WindowsAppSDK-Nuget-Native.targets
  dev/UndockedRegFreeWinRT/UndockedRegFreeWinRT-AutoInitializer.cpp
  dev/UndockedRegFreeWinRT/UndockedRegFreeWinRT-AutoInitializer.cs
  dev/UndockedRegFreeWinRT/UndockedRegFreeWinRT.vcxitems
  dev/UndockedRegFreeWinRT/urfw.cpp
  dev/WindowsAppRuntime_BootstrapDLL/MddBootstrapActivity.cpp
  dev/WindowsAppRuntime_BootstrapDLL/MddBootstrapActivity.h
  dev/WindowsAppRuntime_BootstrapDLL/MddBootstrapAutoInitializer.cs
  dev/WindowsAppRuntime_DLL/WindowsAppRuntime.def
  dev/WindowsAppRuntime_DLL/WindowsAppRuntime_DLL.vcxproj
  dev/WindowsAppRuntime_DLL/WindowsAppRuntime_DLL.vcxproj.filters
  dev/WindowsAppRuntime_DLL/WindowsAppRuntime_EnsureIsLoaded.cpp
  dev/WindowsAppRuntime_MSIXInstallFromPath/main.cpp
Labels: area-Infrastructure, area-UndockedRegFreeWinRT

#2454 Deploy Main and Singleton in BreakAway process when Deployment API is called from MediumILHigherIL Non-Microsoft publisher package
  WindowsAppRuntime.sln
  build/CopyFilesToStagingDir.ps1
  dev/Deployment/DeploymentActivityContext.h
  dev/Deployment/DeploymentManager.cpp
  dev/Deployment/DeploymentManager.h
  dev/Deployment/DeploymentTraceLogging.h
  dev/Deployment/DeploymentTracelogging.cpp
  dev/DeploymentAgent/DeploymentAgent.vcxproj
  dev/DeploymentAgent/DeploymentAgent.vcxproj.filters
  dev/DeploymentAgent/PropertySheet.props
  dev/DeploymentAgent/main.cpp
  dev/DeploymentAgent/packages.config
  dev/DeploymentAgent/pch.cpp
  dev/DeploymentAgent/pch.h
  dev/DeploymentAgent/tracelogging.h
  dev/WindowsAppRuntime_MSIXInstallFromPath/main.cpp
  installer/dev/install.cpp
Labels: bug, area-App deployment

#2460 Log Installer events to disk
  dev/Deployment/DeploymentActivityContext.h
  dev/Deployment/DeploymentManager.cpp
  dev/DeploymentAgent/DeploymentAgent.vcxproj
  dev/DeploymentAgent/DeploymentAgent.vcxproj.filters
  dev/DeploymentAgent/tracelogging.h
  installer/dev/InstallActivityContext.cpp
  installer/dev/InstallActivityContext.h
  installer/dev/WindowsAppRuntime-License.h
  installer/dev/install.cpp
  installer/dev/main.cpp
  installer/dev/tracelogging.cpp
  installer/test/InstallerFunctionalTests/FunctionalTests.cpp
  installer/test/InstallerFunctionalTests/constants.h
  installer/test/InstallerFunctionalTests/helpers.cpp
Labels: area-Installer

#2465 Change Singleton package Name to Microsoft.WinAppRuntime.Singleton[-shorttag]
  dev/Deployment/PackageDefinitions.h
  specs/Deployment/MSIXPackageVersioning.md
  specs/Deployment/MSIXPackages.md
  test/DynamicDependency/Test_BootstrapAutoInitialize/CPP/WindowsAppSDK-VersionInfo.h
  test/DynamicDependency/Test_BootstrapAutoInitialize/CS/WindowsAppSDK-VersionInfo.cs
Labels: area-Infrastructure

#2472 Update Deployment ACIDs in Framework package manifest
  build/NuSpecs/AppxManifest.xml
  test/Deployment/data/WindowsAppRuntime.Test.Framework/appxmanifest.xml
  test/DynamicDependency/data/Microsoft.WindowsAppRuntime.Framework/appxmanifest.xml
Labels: bug, needs-triage :mag:, area-App deployment

#2467 Copy DeploymentAgent executable to TestFwkPkg
  WindowsAppRuntime.sln
  build/CopyFilesToStagingDir.ps1
  test/DynamicDependency/data/Microsoft.WindowsAppRuntime.Framework/Microsoft.WindowsAppRuntime.Framework.vcxproj
Labels: bug, area-App deployment

#2484 Copy DeploymentAgent executable to TestFwkPkg (#2467)
  WindowsAppRuntime.sln
  build/CopyFilesToStagingDir.ps1
  test/DynamicDependency/data/Microsoft.WindowsAppRuntime.Framework/Microsoft.WindowsAppRuntime.Framework.vcxproj
Labels: bug, area-App deployment

#2361 Add PushNotificationsLongRunningTask.ProxyStub pdb to symbols dir - last try
  build/CopyFilesToStagingDir.ps1
Labels: needs-triage :mag:, area-Notifications

#2483 Update Deployment ACIDs in Framework package manifest (#2472)
  build/NuSpecs/AppxManifest.xml
  test/Deployment/data/WindowsAppRuntime.Test.Framework/appxmanifest.xml
  test/DynamicDependency/data/Microsoft.WindowsAppRuntime.Framework/appxmanifest.xml
Labels: bug, area-App deployment

#2493 UndockedRegFreeWinRT self-contained and auto-initialization support
  build/NuSpecs/Microsoft.WindowsAppSDK.UndockedRegFreeWinRTCommon.targets
  build/NuSpecs/WindowsAppSDK-Nuget-Native.UndockedRegFreeWinRT.targets
  dev/UndockedRegFreeWinRT/UndockedRegFreeWinRT-AutoInitializer.cpp
Labels: bug, area-Infrastructure, area-UndockedRegFreeWinRT

#2498 UrfwInitialize() didn't report if ExtRoLoadCatalog() returned error
  dev/UndockedRegFreeWinRT/urfw.cpp
Labels: bug, needs-triage :mag:, area-UndockedRegFreeWinRT

#2500 Remove C# auto-initialization check for reflection
  dev/UndockedRegFreeWinRT/UndockedRegFreeWinRT-AutoInitializer.cs
  dev/UndockedRegFreeWinRT/catalog.cpp
  dev/WindowsAppRuntime_BootstrapDLL/MddBootstrapAutoInitializer.cs
Labels: bug, needs-triage :mag:, area-DynamicDependencies, area-UndockedRegFreeWinRT

#2501 Fix URFW auto-init reference to EnsureIsLoaded()
  dev/UndockedRegFreeWinRT/UndockedRegFreeWinRT-AutoInitializer.cpp
  dev/UndockedRegFreeWinRT/UndockedRegFreeWinRT-AutoInitializer.cs
Labels: bug, needs-triage :mag:, area-UndockedRegFreeWinRT

#2502 Fix issues in UndockedRegFreeWinRT auto-initializer and support for Self-contained
  build/NuSpecs/Microsoft.WindowsAppSDK.UndockedRegFreeWinRT.CS.targets
  build/NuSpecs/Microsoft.WindowsAppSDK.UndockedRegFreeWinRTCommon.targets
  build/NuSpecs/WindowsAppSDK-Nuget-Native.UndockedRegFreeWinRT.targets
  dev/UndockedRegFreeWinRT/UndockedRegFreeWinRT-AutoInitializer.cpp
  dev/UndockedRegFreeWinRT/UndockedRegFreeWinRT-AutoInitializer.cs
  dev/UndockedRegFreeWinRT/catalog.cpp
  dev/UndockedRegFreeWinRT/urfw.cpp
  dev/WindowsAppRuntime_BootstrapDLL/MddBootstrapAutoInitializer.cs
Labels: needs-triage :mag:

#2509 Remove superfluous "Windows App SDK" platform tag
  dev/VSIX/ProjectTemplates/Desktop/CSharp/ClassLibrary/WinUI.Desktop.Cs.ClassLibrary.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CSharp/PackagedApp/BlankApp/WinUI.Desktop.Cs.BlankApp.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CSharp/PackagedApp/WapProj/WinUI.Desktop.Cs.WapProj.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CSharp/PackagedApp/WinUI.Desktop.Cs.PackagedApp.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CSharp/SingleProjectPackagedApp/WinUI.Desktop.Cs.SingleProjectPackagedApp.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CppWinRT/PackagedApp/BlankApp/WinUI.Desktop.CppWinRT.BlankApp.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CppWinRT/PackagedApp/WapProj/WinUI.Desktop.CppWinRT.WapProj.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CppWinRT/PackagedApp/WinUI.Desktop.CppWinRT.PackagedApp.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CppWinRT/SingleProjectPackagedApp/WinUI.Desktop.CppWinRT.SingleProjectPackagedApp.vstemplate
  dev/VSIX/ProjectTemplates/Neutral/CppWinRT/RuntimeComponent/WinUI.Neutral.CppWinRT.RuntimeComponent.vstemplate
  dev/VSIX/ProjectTemplates/UWP/CSharp/BlankApp/WinUI.UWP.Cs.BlankApp.vstemplate
  dev/VSIX/ProjectTemplates/UWP/CSharp/ClassLibrary/WinUI.UWP.Cs.ClassLibrary.vstemplate
  dev/VSIX/ProjectTemplates/UWP/CSharp/RuntimeComponent/WinUI.UWP.Cs.RuntimeComponent.vstemplate
  dev/VSIX/ProjectTemplates/UWP/CppWinRT/BlankApp/WinUI.UWP.CppWinRT.BlankApp.vstemplate
Labels: needs-triage :mag:

#2512 Install singleton license in Installer
  installer/dev/windowsappruntime_definitions.h
  installer/test/CreateInstallerTestPackages/Makefile.mak
  installer/test/CreateTestPackages/TestPackage_Framework/TestPackage_Framework.vcxproj
  installer/test/CreateTestPackages/TestPackage_Framework/TestPackage_Framework.vcxproj.filters
  installer/test/CreateTestPackages/TestPackage_Framework/singleton_license.xml
Labels: bug, area-Installer

#2440 Fix Unit Testing bug for PushNotifications
  test/PushNotificationTests/BaseTestSuite.cpp
  test/PushNotificationTests/BaseTestSuite.h
  test/PushNotificationTests/PackagedTests.h
  test/PushNotificationTests/PushNotificationTests.vcxproj
  test/PushNotificationTests/UnpackagedTests.h
Labels: bug, needs-triage :mag:, area-Notifications

#2507 Notification Mitigation - AppNotificationManager::IsSupported
  dev/AppNotifications/AppNotificationManager.cpp
  dev/AppNotifications/AppNotificationManager.h
  dev/AppNotifications/AppNotifications.idl
  dev/PushNotifications/PushNotificationManager.cpp
  test/TestApps/ToastNotificationsDemoApp/main.cpp
Labels: needs-triage :mag:, area-Notifications

#2513 Remove superfluous "Windows App SDK" platform tag (#2509)
  dev/VSIX/ProjectTemplates/Desktop/CSharp/ClassLibrary/WinUI.Desktop.Cs.ClassLibrary.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CSharp/PackagedApp/BlankApp/WinUI.Desktop.Cs.BlankApp.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CSharp/PackagedApp/WapProj/WinUI.Desktop.Cs.WapProj.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CSharp/PackagedApp/WinUI.Desktop.Cs.PackagedApp.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CSharp/SingleProjectPackagedApp/WinUI.Desktop.Cs.SingleProjectPackagedApp.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CppWinRT/PackagedApp/BlankApp/WinUI.Desktop.CppWinRT.BlankApp.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CppWinRT/PackagedApp/WapProj/WinUI.Desktop.CppWinRT.WapProj.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CppWinRT/PackagedApp/WinUI.Desktop.CppWinRT.PackagedApp.vstemplate
  dev/VSIX/ProjectTemplates/Desktop/CppWinRT/SingleProjectPackagedApp/WinUI.Desktop.CppWinRT.SingleProjectPackagedApp.vstemplate
  dev/VSIX/ProjectTemplates/Neutral/CppWinRT/RuntimeComponent/WinUI.Neutral.CppWinRT.RuntimeComponent.vstemplate
  dev/VSIX/ProjectTemplates/UWP/CSharp/BlankApp/WinUI.UWP.Cs.BlankApp.vstemplate
  dev/VSIX/ProjectTemplates/UWP/CSharp/ClassLibrary/WinUI.UWP.Cs.ClassLibrary.vstemplate
  dev/VSIX/ProjectTemplates/UWP/CSharp/RuntimeComponent/WinUI.UWP.Cs.RuntimeComponent.vstemplate
  dev/VSIX/ProjectTemplates/UWP/CppWinRT/BlankApp/WinUI.UWP.CppWinRT.BlankApp.vstemplate
Labels: needs-triage :mag:

#2464 Fix broken link to the 'Push.PNG' diagram
  specs/PushNotifications/PushNotifications-spec.md
Labels: documentation, area-Notifications

#2531 Updating reference to pick up license installation fix.
  eng/Version.Details.xml
Labels: needs-triage :mag:

#1649 UndockedRegFreeWinRT doesn't check Dynamic packages for WinRT Metadata
  WindowsAppRuntime.sln
  dev/UndockedRegFreeWinRT/typeresolution.cpp
Labels: area-UndockedRegFreeWinRT

#2432 Add new DWrite color APIs.
  specs/dwritecore/DWriteCore.md
Labels: needs-triage :mag:

#2533 Add <auto-generated> tag in C# files added to projects
  dev/Bootstrap/CS/Microsoft.WindowsAppRuntime.Bootstrap.Net/Bootstrap.cs
  dev/UndockedRegFreeWinRT/UndockedRegFreeWinRT-AutoInitializer.cs
  dev/WindowsAppRuntime_BootstrapDLL/MddBootstrapAutoInitializer.cs
Labels: needs-triage :mag:, area-Infrastructure, area-DynamicDependencies, area-UndockedRegFreeWinRT

#2548 Bug 39711964: WinAppSDK: DeploymentManager doesn't handle ERROR_INSUFFICIENT_BUFFER
  dev/Deployment/DeploymentManager.cpp
Labels: needs-triage :mag:, area-App deployment

#2553 DeploymentManager.Initialize fix cherry-pick to 1.1-stable
  dev/Deployment/DeploymentManager.cpp
Labels: needs-triage :mag:, area-App deployment

#2554 Deployment agent break away process creation fixes
  dev/Deployment/DeploymentActivityContext.h
  dev/Deployment/DeploymentManager.cpp
  dev/WindowsAppRuntime_BootstrapDLL/MddBootstrapActivity.h
Labels: needs-triage :mag:

#2559 Make ResourceLoader use same context as default ResourceManager
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/TestCommon/CommonTestCode.cs
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/UnpackagedTests/TestClass.cs
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/src/ResourceLoader.cpp
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/src/ResourceLoader.h
  dev/MRTCore/mrt/Microsoft.Windows.ApplicationModel.Resources/unittests/UnitTest.cs
Labels: needs-triage :mag:

#2558 MddBootstrap.h -- Add stdint.h
  dev/WindowsAppRuntime_BootstrapDLL/MddBootstrap.h
Labels: needs-triage :mag:, area-DynamicDependencies

#2556 Add missing preview releases to issue template
  .github/ISSUE_TEMPLATE/bug-report.yaml
Labels: needs-triage :mag:
